<html>
<head>
  <title>Realtime Chat with Pusher + React</title>
  <script src="https://fb.me/react-0.13.3.js"></script>
  <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://js.pusher.com/2.2/pusher.min.js"></script>
  <script src="/static/javascripts/ui_components/InputBar.js" type="text/jsx"></script>
  <script src="/static/javascripts/ui_components/Messages.js" type="text/jsx"></script>
  <script src="/static/javascripts/ui_components/WelcomeView.js" type="text/jsx"></script>
  <script src="/static/javascripts/ui_components/MainView.js" type="text/jsx"></script> 
  <script src="/static/javascripts/ui_components/Chat.js" type="text/jsx"></script>
</head>
<body>

  <div id="app">
  </div>

</body>
</html>